body {
  margin: 0;
  
}

nav {
  display: flex;
  /* justify-content: left; */
  background-color: #21222A;
  height: 90px;
  padding-top: 31px;
  padding-left: 26px;
  width: 550px;
}

nav .header {
  color: #61DAFB;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  letter-spacing: -5%;
  line-height: 100%;
  font-size: 22.25px;
  padding-left: 10px;
}

nav img {
  /* width: 158px; */
  height: 28.93px;
  line-height: 100%;
  padding-top: 10px;
}

.main {
  color: white;
  background: url(./assets/react.svg);
  background-color: #282D35;
  padding-top: 31px;
  padding-left: 26px;
  width: 550px;
  height: 400px;
  
  background-repeat: no-repeat;
  background-position-x: 410px;
  background-position-y: center;
  background-size: 350px;
  
}

.main h2 {
  font-weight: 700;
  font-size: 39.06px;
  line-height: 100%;
  letter-spacing: -5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* width: 424px; */
  height: 41px;
}

.main ul li {
  font-size: 16px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px 10px;
  height: 17.81px;
  width: 390px;
}

.main ul {
  width: 390px;
  height: 190px;
}

.main ul li::marker {
  color: #61DAFB;
  font-size: 20px;
  /* height: 9.61px; */
}